.margin1 {
    margin-top: 75px;
        
}

.margin2 {
    margin-top: -315px;
    margin-left: 63pc;
}

.margin3 {
    margin-top: 0pc;
    margin-left: 0pc;
}

.margin4 {
    margin-top: 3.5pc;
    margin-left: 22pc;
}

.margin5 {
    margin-top: 1pc;
    margin-left: 10pc;
}

.margin6 {
    margin-top: -25pc;
    margin-left: 51pc;
}

.margin7 {
    margin-top: 5pc;
    margin-left: -45pc;
}

.margin8 {
    margin-top: 8pc;
    margin-left: 25pc;
}

